
header {
    font-family: Dela Gothic One;
    text-align: center;
    font-size: 60px;
    background-image: linear-gradient(rgb(19, 0, 128), rgb(46, 122, 209));
    color: white;
}

h1 {
    font-family: Teko;
    
}

.Forcast {
    background-color: black;
    color: white;
}