
header {
    font-family: Dela Gothic One;
    text-align: center;
    font-size: 60px;
    background-image: linear-gradient(rgb(19, 0, 128), rgb(46, 122, 209));
    color: white;
}

h1 {
    font-family: Teko;
    
}

.Forcast {
    text-align: left;
    background-color: rgb(28, 66, 122);
    color: white;
}

.ForcastCurrent {
    background-color: rgb(207, 207, 207);
}

#Favorites {
    font-size: 40px;
    font-family: Teko;
}


.safe {
    background-color: rgb(38, 255, 38);
}

.danger {
    background-color: red;
}

.moderate {
    background-color: orange;
}